<div class="landing-page">
  <div class="top">
    <img style="height: 50px; width: 50px;" class="image1" src="../../../assets/download.jpeg" alt="Image">
  </div>
  <div class="about">
    <h1 class="text1">Book the best<br>hotel in beautiful<br>countries</h1>
    <p class="text2">Find the perfect hotel for your next vacation with<br>our easy-to-use booking system.Find the perfect hotel for your<br>next vacation with our easy-to-use booking system.</p>
  </div>
  <div class="collab">
    <span>Booking.com</span>
    <span>airnb</span>
    <span>Expedia</span>
    <span>Tripadvisor</span>
  </div>
</div>